
<h1>Regression Models with Keras  Part C </h1>

## Introduction

In this project, you will build a regression model using the Keras library to model the same data about concrete compressive strength that we used in labs 3. For your convenience, the data can be found here again: https://cocl.us/concrete_data. To recap, the predictors in the data of concrete strength include:

Cement Blast Furnace Slag Fly Ash Water Superplasticizer Coarse Aggregate Fine Aggregate

The four parts of the capstone:

A. Build a baseline model
B. Normalize the data
C. Increate the number of epochs
D. Increase the number of hidden layers

## Download and Clean The Dataset

Let's start by importing the pandas and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

Let's download the data and read it into a pandas dataframe.

In [2]:
#!wget -O concrete_data.csv 'https://cocl.us/concrete_data'

concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

let's check the size of data

In [3]:
concrete_data.shape

(1030, 9)

there are approximately 1000 samples to train our model on

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

Let's check the dataset for any missing values.

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

## Data seperation to predictors and target

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

## Normalize the data

In [9]:
# normalize the data by substracting the mean and dividing by the standard deviation.
# Normalize the data
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to _ncols since we will need this number when building our network.

In [11]:
n_cols = predictors.shape[1] # number of predictors

## Import Keras

In [12]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

## Build a Neural Network

In [13]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [14]:
# 1.split 30% for testing without normalize
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

## Train and Test the Network

Repeat Part B but use 100 epochs this time for training.

How does the mean of the mean squared errors compare to that from Step B?

In [20]:
# build the model
model = regression_model()

# fit the model
model.fit(predictors, target, epochs= 100, verbose=2)

Epoch 1/100
33/33 - 0s - loss: 8392.7881 - 311ms/epoch - 9ms/step
Epoch 2/100
33/33 - 0s - loss: 5910.5132 - 37ms/epoch - 1ms/step
Epoch 3/100
33/33 - 0s - loss: 4356.4512 - 36ms/epoch - 1ms/step
Epoch 4/100
33/33 - 0s - loss: 3263.5752 - 36ms/epoch - 1ms/step
Epoch 5/100
33/33 - 0s - loss: 2443.9670 - 29ms/epoch - 871us/step
Epoch 6/100
33/33 - 0s - loss: 1857.5073 - 30ms/epoch - 909us/step
Epoch 7/100
33/33 - 0s - loss: 1408.2562 - 28ms/epoch - 863us/step
Epoch 8/100
33/33 - 0s - loss: 1072.5763 - 28ms/epoch - 848us/step
Epoch 9/100
33/33 - 0s - loss: 814.2299 - 30ms/epoch - 907us/step
Epoch 10/100
33/33 - 0s - loss: 621.7742 - 30ms/epoch - 916us/step
Epoch 11/100
33/33 - 0s - loss: 485.8088 - 29ms/epoch - 879us/step
Epoch 12/100
33/33 - 0s - loss: 390.1598 - 29ms/epoch - 893us/step
Epoch 13/100
33/33 - 0s - loss: 315.8481 - 30ms/epoch - 905us/step
Epoch 14/100
33/33 - 0s - loss: 264.6430 - 29ms/epoch - 882us/step
Epoch 15/100
33/33 - 0s - loss: 228.6656 - 30ms/epoch - 900us/step
Epoch 16/100
33/33 - 0s - loss: 201.6538 - 31ms/epoch - 944us/step
Epoch 17/100
33/33 - 0s - loss: 184.0238 - 30ms/epoch - 897us/step
Epoch 18/100
33/33 - 0s - loss: 174.6152 - 27ms/epoch - 824us/step
Epoch 19/100
33/33 - 0s - loss: 161.1499 - 28ms/epoch - 846us/step
Epoch 20/100
33/33 - 0s - loss: 154.3286 - 28ms/epoch - 850us/step
Epoch 21/100
33/33 - 0s - loss: 147.9315 - 28ms/epoch - 843us/step
Epoch 22/100
33/33 - 0s - loss: 143.4695 - 30ms/epoch - 897us/step
Epoch 23/100
33/33 - 0s - loss: 140.7278 - 28ms/epoch - 848us/step
Epoch 24/100
33/33 - 0s - loss: 139.6956 - 27ms/epoch - 833us/step
Epoch 25/100
33/33 - 0s - loss: 134.9357 - 33ms/epoch - 1ms/step
Epoch 26/100
33/33 - 0s - loss: 131.2220 - 33ms/epoch - 1ms/step
Epoch 27/100
33/33 - 0s - loss: 130.9796 - 32ms/epoch - 981us/step
Epoch 28/100
33/33 - 0s - loss: 128.2501 - 31ms/epoch - 950us/step
Epoch 29/100
33/33 - 0s - loss: 131.7169 - 28ms/epoch - 846us/step
Epoch 30/100
33/33 - 0s - loss: 125.6549 - 29ms/epoch - 890us/step
Epoch 31/100
33/33 - 0s - loss: 124.8853 - 28ms/epoch - 837us/step
Epoch 32/100
33/33 - 0s - loss: 122.8280 - 31ms/epoch - 950us/step
Epoch 33/100
33/33 - 0s - loss: 122.0889 - 31ms/epoch - 940us/step
Epoch 34/100
33/33 - 0s - loss: 120.4406 - 32ms/epoch - 975us/step
Epoch 35/100
33/33 - 0s - loss: 122.0238 - 30ms/epoch - 917us/step
Epoch 36/100
33/33 - 0s - loss: 118.4168 - 29ms/epoch - 879us/step
Epoch 37/100
33/33 - 0s - loss: 119.3143 - 27ms/epoch - 826us/step
Epoch 38/100
33/33 - 0s - loss: 117.3625 - 28ms/epoch - 861us/step
Epoch 39/100
33/33 - 0s - loss: 117.3947 - 30ms/epoch - 920us/step
Epoch 40/100
33/33 - 0s - loss: 116.3965 - 27ms/epoch - 830us/step
Epoch 41/100
33/33 - 0s - loss: 116.7148 - 26ms/epoch - 803us/step
Epoch 42/100
33/33 - 0s - loss: 116.0600 - 26ms/epoch - 800us/step
Epoch 43/100
33/33 - 0s - loss: 115.6026 - 28ms/epoch - 835us/step
Epoch 44/100
33/33 - 0s - loss: 115.5163 - 29ms/epoch - 864us/step
Epoch 45/100
33/33 - 0s - loss: 115.1460 - 29ms/epoch - 893us/step
Epoch 46/100
33/33 - 0s - loss: 115.5928 - 27ms/epoch - 817us/step
Epoch 47/100
33/33 - 0s - loss: 113.8002 - 28ms/epoch - 851us/step
Epoch 48/100
33/33 - 0s - loss: 113.6701 - 28ms/epoch - 855us/step
Epoch 49/100
33/33 - 0s - loss: 113.8293 - 30ms/epoch - 902us/step
Epoch 50/100
33/33 - 0s - loss: 117.8388 - 29ms/epoch - 869us/step
Epoch 51/100
33/33 - 0s - loss: 118.6369 - 30ms/epoch - 908us/step
Epoch 52/100
33/33 - 0s - loss: 114.7083 - 30ms/epoch - 901us/step
Epoch 53/100
33/33 - 0s - loss: 113.7094 - 29ms/epoch - 871us/step
Epoch 54/100
33/33 - 0s - loss: 112.6800 - 31ms/epoch - 940us/step
Epoch 55/100
33/33 - 0s - loss: 113.3227 - 29ms/epoch - 886us/step
Epoch 56/100
33/33 - 0s - loss: 115.5237 - 31ms/epoch - 927us/step
Epoch 57/100
33/33 - 0s - loss: 115.2833 - 31ms/epoch - 939us/step
Epoch 58/100
33/33 - 0s - loss: 112.0652 - 30ms/epoch - 897us/step
Epoch 59/100
33/33 - 0s - loss: 115.8821 - 30ms/epoch - 907us/step
Epoch 60/100
33/33 - 0s - loss: 118.2906 - 29ms/epoch - 869us/step
Epoch 61/100
33/33 - 0s - loss: 112.5434 - 29ms/epoch - 879us/step
Epoch 62/100
33/33 - 0s - loss: 110.9405 - 28ms/epoch - 855us/step
Epoch 63/100
33/33 - 0s - loss: 111.2378 - 30ms/epoch - 898us/step
Epoch 64/100
33/33 - 0s - loss: 111.7186 - 28ms/epoch - 854us/step
Epoch 65/100
33/33 - 0s - loss: 119.7877 - 27ms/epoch - 817us/step
Epoch 66/100
33/33 - 0s - loss: 111.4068 - 30ms/epoch - 911us/step
Epoch 67/100
33/33 - 0s - loss: 111.6478 - 32ms/epoch - 975us/step
Epoch 68/100
33/33 - 0s - loss: 110.6002 - 32ms/epoch - 969us/step
Epoch 69/100
33/33 - 0s - loss: 115.2424 - 30ms/epoch - 913us/step
Epoch 70/100
33/33 - 0s - loss: 110.2977 - 30ms/epoch - 906us/step
Epoch 71/100
33/33 - 0s - loss: 116.0880 - 29ms/epoch - 876us/step
Epoch 72/100
33/33 - 0s - loss: 110.0666 - 31ms/epoch - 951us/step
Epoch 73/100
33/33 - 0s - loss: 110.9011 - 28ms/epoch - 863us/step
Epoch 74/100
33/33 - 0s - loss: 112.2824 - 29ms/epoch - 872us/step
Epoch 75/100
33/33 - 0s - loss: 111.4442 - 28ms/epoch - 857us/step
Epoch 76/100
33/33 - 0s - loss: 111.3060 - 28ms/epoch - 863us/step
Epoch 77/100
33/33 - 0s - loss: 113.4256 - 28ms/epoch - 860us/step
Epoch 78/100
33/33 - 0s - loss: 112.6958 - 30ms/epoch - 900us/step
Epoch 79/100
33/33 - 0s - loss: 113.9268 - 28ms/epoch - 860us/step
Epoch 80/100
33/33 - 0s - loss: 111.6001 - 30ms/epoch - 904us/step
Epoch 81/100
33/33 - 0s - loss: 110.7231 - 31ms/epoch - 925us/step
Epoch 82/100
33/33 - 0s - loss: 116.0043 - 28ms/epoch - 840us/step
Epoch 83/100
33/33 - 0s - loss: 113.2548 - 31ms/epoch - 934us/step
Epoch 84/100
33/33 - 0s - loss: 112.0339 - 31ms/epoch - 940us/step
Epoch 85/100
33/33 - 0s - loss: 111.6577 - 29ms/epoch - 880us/step
Epoch 86/100
33/33 - 0s - loss: 109.9228 - 28ms/epoch - 843us/step
Epoch 87/100
33/33 - 0s - loss: 109.2170 - 28ms/epoch - 846us/step
Epoch 88/100
33/33 - 0s - loss: 114.2745 - 27ms/epoch - 808us/step
Epoch 89/100
33/33 - 0s - loss: 109.8368 - 27ms/epoch - 833us/step
Epoch 90/100
33/33 - 0s - loss: 110.0390 - 28ms/epoch - 834us/step
Epoch 91/100
33/33 - 0s - loss: 109.2735 - 28ms/epoch - 836us/step
Epoch 92/100
33/33 - 0s - loss: 112.8295 - 27ms/epoch - 808us/step
Epoch 93/100
33/33 - 0s - loss: 109.9837 - 28ms/epoch - 839us/step
Epoch 94/100
33/33 - 0s - loss: 114.1553 - 27ms/epoch - 817us/step
Epoch 95/100
33/33 - 0s - loss: 110.4702 - 27ms/epoch - 814us/step
Epoch 96/100
33/33 - 0s - loss: 109.4934 - 28ms/epoch - 833us/step
Epoch 97/100
33/33 - 0s - loss: 109.1348 - 28ms/epoch - 857us/step
Epoch 98/100
33/33 - 0s - loss: 114.6276 - 32ms/epoch - 977us/step
Epoch 99/100
33/33 - 0s - loss: 111.5389 - 28ms/epoch - 843us/step
Epoch 100/100
33/33 - 0s - loss: 115.0365 - 28ms/epoch - 836us/step

## Evaluate the model on the test data.

In [21]:
model_evaluation = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
model_evaluation

10/10 [==============================] - 0s 1ms/step - loss: 116.7424

116.74239349365234

## The mean squared error between the predicted concrete strength and the actual concrete strength

In [17]:

mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

256.48263699712 0.0

## List of 50 mean squared errors with report of mean and the standard deviation of the mean squared errors

In [19]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. \n Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 99.90746307373047
MSE 2: 120.39151000976562
MSE 3: 109.86820983886719
MSE 4: 155.37533569335938
MSE 5: 122.28929138183594
MSE 6: 114.38406372070312
MSE 7: 132.22802734375
MSE 8: 100.5581283569336
MSE 9: 121.26358795166016
MSE 10: 109.69779968261719
MSE 11: 106.46159362792969
MSE 12: 117.74054718017578
MSE 13: 114.32808685302734
MSE 14: 118.31655883789062
MSE 15: 108.62405395507812
MSE 16: 110.51055908203125
MSE 17: 109.41685485839844
MSE 18: 95.91179656982422
MSE 19: 118.18582153320312
MSE 20: 115.23384094238281
MSE 21: 106.79666900634766
MSE 22: 103.61561584472656
MSE 23: 107.50588989257812
MSE 24: 105.32545471191406
MSE 25: 111.09027099609375
MSE 26: 105.7374267578125
MSE 27: 122.43828582763672
MSE 28: 110.80480194091797
MSE 29: 110.12635040283203
MSE 30: 113.94083404541016
MSE 31: 136.80589294433594
MSE 32: 106.33724975585938
MSE 33: 99.46907043457031
MSE 34: 106.60433197021484
MSE 35: 110.61865234375
MSE 36: 92.91411590576172
MSE 37: 90.08121490478516
MSE 38: 74.87823486328125
MSE 39: 60.23677062988281
MSE 40: 54.37153625488281
MSE 41: 59.34423065185547
MSE 42: 49.114349365234375
MSE 43: 57.82391357421875
MSE 44: 54.21592330932617
MSE 45: 77.96589660644531
MSE 46: 57.7855224609375
MSE 47: 52.55882263183594
MSE 48: 52.05425262451172
MSE 49: 55.710540771484375
MSE 50: 69.02339172363281


Mean and standard deviation of 50 mean squared errors with normalized data.
 Total number of epochs for each training is: 50

Mean: 98.31977153356887
Standard Deviation: 25.512446900508813